<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/?page=list">List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/?page=create">Create</a>
  </li>
</ul>
