{% extends 'main.html.twig' %}

{% block content %}
    {% if message %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif%}

    {% if view == 'list'%}
        {% include 'list.html.twig' %}
    {% endif %}

    {% if view == 'edit' or view == 'create'%}
        {% include 'edit.html.twig' %}
    {% endif %}
{% endblock %}
